<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Student ChatBot Portal</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-secondary navbar-dark navbar-fixed-top">
            <div class="container">

                <img src="~/chatbot7.jpg" alt="chatbot7"
                     width="75" height="75" class="img-circle" />
                <a href="#" class="navbar-brand">

                    Student ChatBot Portal
                </a>



                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    @*<span class="navbar-toggler-icon"></span>*@
                </button>
                <div class="collapse navbar-collapse" id="navmenu">


                </div>
            </div>
        </nav>
    </div>
    <section class=" bg-gradient text-light p-5 text-center"></section>
    <div class="container-body-content">
        <div class="d-sm-flex">
            @*<p>&copy; @DateTime.Now.Year - This is Asp.Net MVC Application</p>*@
        </div>


        @RenderBody()

     

    </div>
    @*<script src="~/Scripts/jquery-3.0.0.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>