
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <style>
        .navbar-brand {
            font-size: 30px;
        }

        .nav-link {
            font-size: 20px;
            color: whitesmoke;
        }

        .button_example {
            float: right;
        }
        body {
            background-image: url('https://wallpaperaccess.com/full/2155741.jpg');
            background-repeat: no-repeat;
            background-size: 100%,100%;
            background-attachment: fixed;
        }
    </style>
    

</head>
<body>
    <header>

        @*<h3>About Us</h3>
        <h4>In This Portal We are Providing the Information Regarding Student Queries</h4>*@
        <section class="breadcrumbs-section">
            <div class="container p-1 p-sm-3">
                <div class="row">
                    <div class="col-2">
                        <h1>AboutUs</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <a href="Index">Home</a></li>
                            <li class="breadcrumb-item active">About Us</li>
                        </ol>
                        </div>
                    </div>
                </div>
            </section>
        <section class="about-company-section">
            <div class="container p-1 p-sm-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Welcome To Student ChatBot Portal</h2>
                        <hr/>
                        </div>
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="~/chatbot2.png" />
                        </div>
                    <div class="col-9">
                        <p><h4>In this Portal we have Designed a ChatBot for regarding Student Queries</h4></p>
                        <p><h4>Here,they can find information about College Location, Admission, Exam, Departments,etc.,</h4></p>
                        <p><h4>It is a user friendly Application.</h4></p>
                        <p><h4>We request the Student to use this ChatBot to their Fullest.</h4></p>
                        
                    </div>
                    </div>
                </div>
            </section>


</header>
</body>


</html>




