
@{
   // ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    //Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    </head>
<body>
    <section>
        <h2>Admin DashBoard</h2>
    </section>
   
</body>
</html>