
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>ContactUS</title>
    <style>
        .navbar-brand {
            font-size: 30px;
        }

        .nav-link {
            font-size: 20px;
            color: whitesmoke;
        }

        .button_example {
            float: right;
        }
        body {
            background-image: url(https://wallpaperaccess.com/full/2155741.jpg);
            background-repeat: no-repeat;
            background-size: 100%,100%;
            background-attachment: fixed;
        }
    </style>

</head>
<body>

 
    <section class="breadcrumbs-section">
        <div class="container p-1 p-sm-3">
            <div class="row">
                <div class="col-6">
                    <h2>Contact</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="Index">Home</a></li>
                        <li class="breadcrumb-item active">Contact Info</li>
                    </ol>
                    <div class="row g-4">
                        <div class="col-form-label-sm">
                            @*<h2 class="text-center mb-4">Contact Info</h2>*@
                            <ul class="list-group list-group-flush lead">
                                <li class="list-group-item">
                                    <span class="fw-bold">Contact Persons:</span>Renuga,Nandhakumar S
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Office Name:</span>Indium Software Limited.
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Location:</span>Anna Salai,Chennai.
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Email:</span>indium@gmail.com
                                </li>
                            </ul>
                        </div>
                        <div class="col-md">
                            @*<div id="googleMap" style="width:100%;height:400px;"></div>*@

                            @*<script>
                                    function myMap() {
                                        var mapProp = {
                                            center: new google.maps.LatLng(51.508742, -0.120850),
                                            zoom: 5,
                                        };
                                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                                    }
                                </script>

                                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="form-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
            </div>
                <div class="col-md-6 address">
                    <h4>Call us/Whatsapp</h4>
                    <p><a href="tel:+919988776655"><i class="fas fa-phone"></i> +(91) 9988776655 </a><br>
                    </p>
                    <h4>Email / Website </h4>
                    <p>
                       <a href="mailto: indium1@gmail.com"><i class ="fas fa-envelope"></i></i>
                        indium1@gmail.com</a><br>
                     </p>
                     <h4>Working Hours</h4>
                     <p>
                         Monday - Friday : 9.30pm - 6.30pm(IST)
                     </p>
                     <h4>Address</h4>
                     <p>Indium Software Limited</p>
                     <p> Anna Salai,Chennai.</p>
                    </div>
                </div>
            </div>
        </section>*@
    

</body>

</html>

